<!DOCTYPE html>
<html>
    <head>
        <title>Mithya</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    </head>
    <body>
        <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Mithya</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                <% } else { %>  
                    <li><a>Signed in as <%= currentUser.username %></a></li>
                    <li><a href="/details">bookings</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } %>
            </ul>
        </div>
    </div>
    
</nav>



